:root {
    --main-dark-background: #1F2937;
    --main-gray-background: #E5E7EB;
    --button-color: #3882F6;
    --main-white-text: #F9FAF8;
}

* {
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* Header and Welcome Area */
.header-welcome {
    background-color: var(--main-dark-background);
    height: 80vh;
}

.header {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

.title-page {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--main-white-text);
}

.header-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--main-white-text);
    gap: 15px;
}

.welcome-area {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    gap: 100px;
}

.welcome-left > h1 {
    font-size: 48px;
    color: var(--main-white-text);
    font-weight: 900;
}

.welcome-left > p {
    color: var(--main-white-text)
}

.welcome-left > button {
    background-color: var(--button-color);
    color: var(--main-white-text);
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
}

.welcome-right > img {
    height: 400px;
    width: 700px;

}

/* Cards Area */
.cards-area {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-area > h2 {
    font-size: 36px;
    color: var(--main-dark-background);
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.card {
    width: 250px;
    height: 500px;
}

.card > h3 {
    text-align: center;
    margin: 10px;
}

.card > img  {
    margin: 0 auto;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid var(--button-color);
    width: 245px;
    height: 200px;
}

.tokyo {
    object-position: 100% 0;
}

.osaka {
    object-position: 100% 0;
}

/* Customer Testimony Area */

.quote-background {
    background-color: var(--main-gray-background);
}

.quote-area {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote, .quote-person {
    font-size: 36px;
    font-style: italic;
    color: var(--main-dark-background)
}

.quote-person {
    text-align: end;
}